body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clearer {
	clear: both;
}

#debug {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 0;
	background-color: #FFFFDD;
	border: 0px solid #CCC;
	border-bottom: none;
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px rgba(50, 50, 50, 0.75);
}

#webcam {
	float: left;
	width: 320px;
	height: 240px;
	margin-right: 10px;
	background-color: #333;
}

#chat-wrapper {
	float: left;
	width: 700px;
}

#chat-wrapper #upper {
	width: 100%;
	height: 252px;
	margin: 10px 0;
	padding: 0;
}

#chat-wrapper #chatLog,
#chat-wrapper #playerlist {
	background-color: #FFFFDD;
	height: 250px;
	overflow: auto;
	border: 1px solid #E3E3E3;
}

#chat-wrapper #chatLog {
	float: left;
	width: 60%;
}

#chat-wrapper #chatLog ul,
#chat-wrapper #playerlist ul {
	list-style-type: none;
	margin: 10px 0 0 10px;
	padding: 0;
}

#chat-wrapper #chatLog ul li,
#chat-wrapper #playerlist ul li {
	line-height: 1;
	margin-bottom: 5px;
}

#chat-wrapper #playerlist {
	float: right;
	width: 39%;
}

#chat-wrapper #chatMsg {
	width: 685px;
	font-size: 16px;
	padding: 8px 5px;
}

#chat-wrapper .private {
	background-color: #CCC;
	font-style: italic;
}

#chat-wrapper #lower {
	margin-top: 5px;
}

canvas {
	float: left;
	width: 320px;
	height: 240px;
	background-color: #CCC;
}

#players {

}

#players ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#players ul li {
	float: left;
	width: 320px;
	margin-right: 10px;
	margin-bottom: 10px;
}